* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-box {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: rgba(255, 255, 255, 0.658);
    width: 300px;
    text-align: center;
    font-size: larger;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
}
/* From Uiverse.io by Madflows */ 
.button {
    position: relative;
    overflow: hidden;
    height: 4rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #ffffff;
    background-size: 400%;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(to right, #f8c845 20%, #ffffff 90%);

    transition: all 0.475s;
  }
  

.background-filter {
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(10px);
}

body {
    background-image: url(../indexBG.png);
    background-size: 100% 100%;
    margin: 0px 0 0px;

}

@media (max-width: 1158px) {
    .menu-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
